.App {
  text-align: center;
}

.App-container {
  background: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  position: relative;
}

.wrapper {
  width: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.help-button {
  align-self: center;
  width: auto;
}
