.UsersTable-container {
    margin-top: 20px;
}

.UsersTable-container table {
    width: 100%;
}


.UsersTable-container table td {
    height: 40px;
    text-align: left;
}

.UsersTable-container table th {
    text-align: left;
} 

button:hover {
    cursor: pointer;
}